:host {
  display: block;
  margin-bottom: 4px;
}

.progress {
  height: 100%;
  width: 0;
  transition: width 0.5s;
}

.outer {
  width: 350px;
  height: 25px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px lightgrey;
}
