
:host {
  display: block;
  padding: 10px;
}

.header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid lightgrey;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: black;
  text-align: left;
}

.header.expandable {
  cursor: pointer;
}


.header.expandable:hover {
  color: #a6a6a6;
}

.expandable-icon {
  float: right;
  color: lightgrey;
}

section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

section.expanded {
  max-height: 500px;
}
