
:host {
  display: block;
}

header {
  padding: 5px;
}

section {
  padding: 5px 0;
}

/deep/ al-menu-item {
  border-bottom: solid 1px lightgrey;
}

/deep/ al-menu-item:last-child {
  border: none;
}