
:host {
  display: block;
}

header {
  padding: 5px;
  font-size: 1.2em;
  color: #999999;
}

section {
  padding: 5px 0;
}

/deep/ al-menu-item {
  border-bottom: solid 1px lightgrey;
}

/deep/ al-menu-item:last-child {
  border: none;
}