<al-notifications [notifications]="notifications"></al-notifications>

<al-nav-bar [heading]="title" [backRoute]="backRoute" (openSideMenu)="sideMenuOpen = true"></al-nav-bar>
<al-side-menu [show]="sideMenuOpen" (close)="sideMenuOpen = false">
  <al-menu heading="Demo App">
    <al-menu-item *ngFor="let item of sideMenuItems" [routerLink]="item.route"
      routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }"
      [icon]="item.icon" size="large" (onClick)="sideMenuOpen = false">
      {{item.label}}
    </al-menu-item>
  </al-menu>
</al-side-menu>

<router-outlet></router-outlet>
