<al-notifications [notifications]="notifications"></al-notifications>

<al-nav-bar [heading]="title" (onLeftClick)="sideMenuOpen = true"></al-nav-bar>
<al-side-menu [show]="sideMenuOpen" (close)="sideMenuOpen = false">
  <al-menu heading="Demo App">
    <al-menu-item routerLink="" icon="fa-home" size="large"
      (onClick)="sideMenuOpen = false">Home</al-menu-item>
    <al-menu-item routerLink="login" icon="fa-sign-in" size="large"
      (onClick)="sideMenuOpen = false">Login</al-menu-item>
    <al-menu-item routerLink="list" icon="fa-list" size="large"
      (onClick)="sideMenuOpen = false">List</al-menu-item>
  </al-menu>
</al-side-menu>

<div>
  <router-outlet></router-outlet>
</div>
