
:host {
  display: block;
}

.load-more-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.load-more {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more:hover {
  opacity: 0.9;
}
