<al-section heading="Button">
  <al-button (onClick)="onClick()" [loading]="buttonLoading"></al-button>
  <al-button (onClick)="onClick()" disabled="true" label="Disabled"></al-button>
  <al-button (onClick)="onClick()" loading="true"></al-button>
</al-section>

<al-section heading="Spinner">
  <al-spinner></al-spinner>
</al-section>

<al-section heading="Pop Over">
  <al-button label="Show menu" (onClick)="popOverOpen = true"></al-button>
  <al-pop-over [show]="popOverOpen" (close)="popOverOpen = false">
    <al-menu heading="Sort by:">
      <al-menu-item label="Price" (onClick)="popOverOpen = false"></al-menu-item>
      <al-menu-item label="Size" (onClick)="popOverOpen = false"></al-menu-item>
      <al-menu-item label="Newest" (onClick)="popOverOpen = false"></al-menu-item>
      <al-menu-item label="Top Rated" (onClick)="popOverOpen = false"></al-menu-item>
    </al-menu>
  </al-pop-over>
  <al-button label="Show with backdrop" (onClick)="popOverBackdropOpen = true"></al-button>
  <al-pop-over [show]="popOverBackdropOpen" [backdrop]="true" (close)="popOverBackdropOpen = false">
    <p>Pop over contents</p>
  </al-pop-over>
</al-section>

<al-section heading="Modal">
  <al-button label="Show" (onClick)="modalOpen = true"></al-button>
  <al-modal [show]="modalOpen" (close)="modalOpen = false">
    <p>Modal contents</p>
  </al-modal>
</al-section>