
<al-section heading="Button">
  <al-button (onClick)="onButtonClick()" [loading]="buttonLoading">Label</al-button>
  <al-button (onClick)="onButtonClick()" disabled="true">Disabled</al-button>
  <al-button loading="true">Loading</al-button>
</al-section>

<al-section heading="Spinner">
  <al-spinner></al-spinner>
</al-section>

<al-section heading="Pop Over">
  <al-button (onClick)="popOverOpen = true">Show menu</al-button>
  <al-pop-over [show]="popOverOpen" (close)="popOverOpen = false">
    <al-menu heading="Sort by:">
      <al-menu-item (onClick)="popOverOpen = false">Price</al-menu-item>
      <al-menu-item (onClick)="popOverOpen = false">Size</al-menu-item>
      <al-menu-item (onClick)="popOverOpen = false">Newest</al-menu-item>
      <al-menu-item (onClick)="popOverOpen = false">Top Rated</al-menu-item>
    </al-menu>
  </al-pop-over>
  <al-button (onClick)="popOverBackdropOpen = true">Show with backdrop</al-button>
  <al-pop-over [show]="popOverBackdropOpen" [backdrop]="true" (close)="popOverBackdropOpen = false">
    <p>Pop over contents</p>
  </al-pop-over>
</al-section>

<al-section heading="Modal">
  <al-button (onClick)="modalOpen = true">Show modal</al-button>
  <al-modal [show]="modalOpen" (close)="modalOpen = false">
    <p>Modal contents</p>
  </al-modal>
</al-section>

<al-section heading="Expandable section" [expandable]="true">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</al-section>

<al-section heading="Alert">
  <al-alert type="error">Error has occured</al-alert>
  <al-alert type="message">Message</al-alert>
  <al-alert type="warning" heading="Custom heading">Warning</al-alert>
  <al-alert type="success">Action was successful</al-alert>
</al-section>

<al-section heading="Notifications">
  <al-button (onClick)="showNotification()">Add notification</al-button>
</al-section>

<al-section heading="Load more">
  <al-load-more (load)="loadMore()" [loading]="loadingMore"></al-load-more>
</al-section>
