:host {
  display: block;
  margin-bottom: 4px;
}

.crumb:first-child i {
  display: none;
}

.crumb {
  margin-right: 4px;
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

.crumb:hover {
  color: black;
}
