
:host {
  display: block;
}

.item {
  padding: 5px;
  cursor: pointer;
  color: #595959;
}

.item.large {
  padding: 10px;
  font-size: 1.1rem;
}

.icon {
  margin-right: 5px;
}

.item:hover {
  color: #19a974;
}
