
:host {
  display: block;
}

.item {
  padding: 5px;
  cursor: pointer;
  color: #595959;
  transition: background-color 0.5s ease;
}

.item.large {
  padding: 10px;
  font-size: 1.1rem;
}

.icon {
  margin-right: 5px;
}

.item:hover {
  background-color: #8ff0cc;
}
