
:host {
  display: block;
}

.item {
  padding: 5px;
  cursor: pointer;
  color: #595959;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
}

.item.large {
  padding: 10px;
  font-size: 1.1rem;
}

.icon {
  margin-right: 10px;
}

.item:hover {
  color: #19a974;
}
